<header class="header">
  <div class="container header__inner">
    <!-- a.logo>img.logo__img[src=images/logo.png] -->
    <a href="#" class="logo"
      ><img src="images/src/logo.png" alt="#" class="logo__img"
    /></a>

    <nav class="menu header__menu">
      <button class="menu__btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="menu__list header__menu-list">
        <!-- li.menu__list-item*5>a.menu__list-link[href=#]{} -->
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Про нас</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Каталог</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Команда</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Відгуки</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Курси</a>
        </li>
        <li class="menu__list-item">
          <a href="#" class="menu__list-link">Контакти</a>
        </li>
      </ul>
    </nav>
    <a href="tel:+4565789876" class="phone header__phone">+45 65 78 98 76</a>
  </div>
</header>
