/* футер */

position: absolute;
width: 230.02px;
height: 54.88px;
left: 1071.98px;
top: 9049.12px;



/* candelsCandels@gmail.com */

position: absolute;
width: 230px;
height: 19px;
left: 1072px;
top: 9085px;

/* текст 14 звичаний */
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Gray 1 */
color: #333333;



/* +45 34 56 78 92 */

position: absolute;
width: 148.6px;
height: 18.71px;
left: 1071.98px;
top: 9049.12px;

/* текст 14 звичаний */
font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* Gray 1 */
color: #333333;